<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690546736753-n3ln16iheo29180dnpcd70ho75tgmgdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690546736753-n3ln16iheo29180dnpcd70ho75tgmgdr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>690546736753-00eg4qdoqv8bjdonl1rec7467ouo9pmv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDub9pk7JSzVx4iYqNvCzKaBc9-Lp679Y</string>
	<key>GCM_SENDER_ID</key>
	<string>690546736753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yga.MovieSoundBoard</string>
	<key>PROJECT_ID</key>
	<string>series-304ee</string>
	<key>STORAGE_BUCKET</key>
	<string>series-304ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690546736753:ios:10da8cb29958203323e5d0</string>
	<key>DATABASE_URL</key>
	<string>https://series-304ee.firebaseio.com</string>
</dict>
</plist>